.developerOverview {
	list-style: none;
	margin: 15px 0 5px 0 !important;
	padding: 0;
}

.developerOverview:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

.developerOverview ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.developerOverview img {
	margin-right: 5px;
	float: left;
}

.developerOverview li {
	margin: 0 5% 10px 0;
	float: left;
	width: 40%;
	min-height: 48px;
}

.developerOverview li ul li {
	margin: 3px 0 3px 0;
	float: none;
	width: auto;
	min-height: 0;
}